# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/proyecto/Inventario2017/Inventario2017/nbproject/private/
/proyecto/intentario2017/nbproject/private/
/proyecto/Inventario2017_2/nbproject/private/
/proyecto/Inventario2017_2/dist/
/proyecto/Inventario2017_2/build/